[2013-02-04 12:59] rtoma opened #4 "mod_python is installed after httpd restart"
Thank you for your work!

Config.pp has:

[code]

I believe the apache_python_pkg package resource is missing a:

[code]

This will fix mod_python being installed -after- apache is installed & configured, thus graphite not being accessible.

What do you think?

[2013-02-04 14:25] #4 closed, assigned to dwerder

[2013-02-05 09:43] rtoma opened #5 "question about graphitepkgs"
Hi,
Why is $graphite::params::graphitepkgs for redhat so big?

These are the packages I am unsure about:
- git
- python-zope-filesystem + python-zope-interface
- python-ldap
- python-crypto
- pyOpenSSL
- gcc
- gcc-c++
- zlib-static
- MySQL-python

Why are these needed? I like your module, but these requirements look a bit strange.

Regards.

[2013-02-07 05:41] #5 closed, assigned to dwerder

[2013-03-16 08:00] tarjei opened #7 "Support just setting up The wsgi host"
So that the package does not have to depend directly on Apache.

[2013-05-28 15:02] Bhuwan opened #9 "Add this module to puppet forge?"
Should probably consider adding this module to the puppet forge so that others can easily find and install it.  I was unable to locate it here:

http://forge.puppetlabs.com/

[2013-05-28 17:26] #9 closed, assigned to dwerder

[2013-08-21 20:18] davidmarquis opened #11 "fqdn in local_settings.py template?"
In the latest 0.9.11 refactoring code, the graphite::config class uses a dynamic template for local_settings.py:

`graphite/opt/graphite/webapp/graphite/local_settings.py_${::fqdn}.erb`

I don't really understand that design decision?

[2013-08-21 20:33] davidmarquis opened #12 "Yum package "Django" cannot be found in EPEL"
Hey there, I'm wondering if you know where the Yum package "Django" can be found?

I checked on the latest EPEL repo and only "Django14" is available.  Since the module uses "Django" I had to manually override the package and replaced by a pip-installed Django 1.3.7 version, so it works but is cumbersome.

[2013-08-21 21:22] #11 closed, assigned to dwerder

[2013-08-21 21:29] davidmarquis opened #13 "Puppet warning on $gr_storage_schemas default value"
The default configuration in `init.pp` for `$gr_storage_schemas` generates the following warning:

`Warning: Unrecognised escape sequence '\.' in file /tmp/vagrant-puppet/modules-0/graphite/manifests/init.pp at line 98`

I recommend using simple quoted strings instead to wrap the patterns.

[2013-08-21 21:29] #12 closed, assigned to nobody

[2013-08-21 21:33] #13 closed, assigned to nobody

[2013-08-21 21:42] davidmarquis opened #14 "Dependency issue for "Chown graphite for apache" exec"
There seems to be an issue with Exec[Chown graphite for apache] running before the Package[httpd] is installed:

[code]

I intend to check this out tomorrow but maybe with your knowledge of the module you'll have a solution faster ;)

[2013-08-21 21:58] #14 closed, assigned to nobody

[2013-08-27 00:36] dcosson opened #15 "Apache WSGISocketPrefix incorrect?"
Is this line correct?  And what's up with the "You need to set this up!" comment?

https://github.com/echocat/puppet-graphite/blob/master/templates/etc/apache2/sites-available/graphite.conf.erb#L13

When I run this I get 503s and the error log looks like it tries to create the socket in `/etc/apache2/run/wsgi`. When I use the absolute path `/var/run/apache2` it works.  Any reason not to just hard-

[2013-09-03 06:46] afarnoosh opened #16 "Initial Django DB Creation fails"
Hi,

I'm running the script on Ubuntu 12.04 with puppet server @ version 2.6.4 and puppet client @ 0.25.4. Client is a completely clean VM.

This is my error log:

Sep  2 12:43:06 puppetclient puppetd[12214]: (/Stage[main]/Graphite::Config/Package[apache2]) Scheduling refresh of Exec[Chown graphite for apache]
Sep  2 12:43:06 puppetclient puppetd[12214]: (/Stage[main]/Graphite::Config/File[/opt/gr

[2013-09-03 20:02] #16 closed, assigned to dwerder

[2013-09-30 18:14] #15 closed, assigned to dwerder

[2013-11-15 20:18] tylerwalts opened #20 "Carbon service error on CentOS 6.4"
This module is great, and was using this module successfully until this week, when it looks like something changed upstream in the carbon / twisted / daemonize.   Here is the specific error when running on a CentOS 6.4, using just the default parameters.

sudo service carbon-cache start

Traceback (most recent call last):
  File "/opt/graphite/bin/carbon-cache.py", line 28, in <module>
    from ca

[2013-11-16 08:49] #20 closed, assigned to dwerder

[2013-11-21 17:53] kclair opened #22 "should be able to change $::graphite::params::build_dir"
the build_dir should be able to be something other than /usr/local/src

[2013-11-21 18:01] #22 closed, assigned to nobody

[2013-11-28 18:06] groob opened #24 "Redhat exec is applied on every run"
Notice: /Stage[main]/Graphite::Install::Redhat/Exec[Install txamqp]/returns: executed successfully
Notice: /Stage[main]/Graphite::Install::Redhat/Exec[Install django-tagging]/returns: executed successfully
Notice: /Stage[main]/Graphite::Install::Redhat/Exec[Install twisted]/returns: executed successfully

These 3 execs are applied on every run after graphite installs.

[2013-11-30 16:25] #24 closed, assigned to dwerder

[2014-01-09 13:21] MrSecure opened #29 "Version bump not reflected on puppetforge"
Is there anything else I can do to get the version bump to show up on the puppetforge page for puppet-graphite?

Thanks.

Ben

[2014-01-10 08:34] #29 closed, assigned to dwerder

[2014-01-21 15:57] petems opened #30 "Issues with Redeclaring Packages. Dublicates #48"
I'm having issues with redeclared packages:

[code]

This will occur if you have another module somewhere with the package declared.

The normal course of action is to do:

[code]

So puppet won't bomb-out on the re-declaration. Not sure what the cleanest way of doing that for an array of packages would be? I'll have a look into it :+1:

[2014-01-23 19:06] supernovae opened #31 "Latest puppetforge release on OEL 6.5 - missing /opt/graphite/bin/carbon-cache.py"
Just pulled the module and installed on new host, but it seems it didn't install the carbon-cache before trying to init the service. will dig around and see if something is out of order.

Jan 23 12:44:03 graphite puppet-agent[4045]: (/Stage[main]/Graphite::Install::Redhat/Package[python-ldap]/ensure) created
Jan 23 12:45:54 graphite puppet-agent[4045]: (/Stage[main]/Graphite::Install::Redhat/Exec[

[2014-01-24 12:24] #31 closed, assigned to dwerder

[2014-01-27 10:59] #7 closed, assigned to dwerder

[2014-03-04 10:32] corvus-ch opened #38 "Installation failes on debian 7.4"
Installing on Debian 7.4 fails due to non existing package `python-txamqp`.

[2014-03-04 13:15] #38 closed, assigned to dwerder

[2014-03-18 05:26] CpuID opened #41 "gunicorn fails to start workers for some reason?"
Currently configured with:

[code]

Everything looks started, but the child pid's for gunicorn only last a split second. When tailing /var/log/gunicorn/graphite.log I get the below:

[code]

I then tried starting gunicorn using the params I could see in the ps output, omitting --daemon and --log-file and saw the below:

/usr/bin/python /usr/bin/gunicorn_django --pid /var/run/gunicorn/graphite.pid

[2014-03-18 06:28] #41 closed, assigned to nobody

[2014-03-19 07:53] CpuID opened #44 "puppet error on fresh system installation of this module (relates to txamqp install)"
just did a fresh EC2 instance creation, and ran the latest version of this module (after my last PR was added), getting the below error for txamqp on initial puppet run:

[code]

next puppet run seems to succeed fine.

any ideas?

[2014-03-19 21:45] #44 closed, assigned to dwerder

[2014-03-25 14:26] arenstar opened #48 "Uptodate Redhat provided RPMS"
I dont exactly understand why this module does not utilise the
graphite EPEL RPM's

They are up to date and maintained very quickly.

http://dl.fedoraproject.org/pub/epel/6/x86_64/repoview/graphite-web.html
http://dl.fedoraproject.org/pub/epel/6/x86_64/repoview/python-carbon.html
http://dl.fedoraproject.org/pub/epel/6/x86_64/repoview/python-whisper.html

[2014-03-27 21:35] scottsuch opened #49 "carbon.conf.erb"
There are a lot of duplicate stanzas in `carbon.conf.erb` such as the following:

[code]

This specific example shows up three times. Is there a reason for this? I'm new to Puppet so perhaps I'm just ignorant. Let me know and I'd be happy to clean up the redundancy and submit a PR.

[2014-03-27 22:54] #49 closed, assigned to nobody

[2014-04-03 03:55] CpuID opened #54 "Ubuntu/Debian init script fails to detect if gunicorn service failed to start"
[code]

[2014-04-24 00:56] cwneal opened #57 "config.js content keeps changing?"
Hi.

I'm having an issue where every time I run "puppet agent -t" on the node where this module is installed, Puppet always thinks the content of the config.js file changes, so it re-writes it, and bounces httpd.  I can run it two times immediately, and get this output every time:

Info: Caching catalog for n6.example.com
Info: Applying configuration version '1398300771'
Notice: /Stage[main]/Kiban

[2014-04-24 13:23] #57 closed, assigned to dwerder

[2014-04-30 20:59] ereichert opened #58 "Having a real hard time installing graphite on centos 6.5."
This is the error we're seeing.

Error: Could not update: Execution of '/usr/bin/pip-python install -q twisted==11.1.0' returned 1: Command /usr/bin/python -c "import setuptools;**file**='/tmp/pip-build-root/twisted/setup.py';exec(compile(open(**file**).read().replace('\r\n', '\n'), **file**, 'exec'))" install --record /tmp/pip-e3n5qe-record/install-record.txt --single-version-externally-managed f

[2014-05-01 12:12] #58 closed, assigned to dwerder

[2014-05-15 12:55] petre opened #59 "Pacakge python-zope-filesystem is not needed"
I get the following error when trying to use this module on a RHEL system:
Package python-zope-filesystem-1-5.el6.x86_64 is obsoleted by python-zope-interface-3.7.0-2.el6.x86_64 which is already installed

So, I guess you can remove the dependency on package python-zope-filesystem from your graphite::params class.

[2014-05-15 14:06] #59 closed, assigned to dwerder

[2014-05-21 22:37] chrislovecnm opened #60 "missing python-psycopg2"
Hi all

Great module btw!  You might want to consider adding 'python-psycopg2' to $graphitepkgs array in params.pp

Thanks

Chris

[2014-05-27 19:54] pythianali opened #61 "Question - Uninstallation"
Hi,

I was trying to install a grafana module on a server that was built with your module.  At some point I tried to adjust the apache vhost settings in puppet and that ended very badly.   Now the module will not successfully  complete a puppet run on this server.

I would like to know if it is possible to completely uninstall this module?  I believe that if I uninstall it and reinstall it, the co

[2014-06-02 08:56] daks opened #62 "What is the web administrator login and password?"
Hello,

I'm trying this Graphite Puppet plugin and I wonder what is the web interface administrator login and password. I searched in the code without founding anything.

[2014-06-02 23:20] #61 closed, assigned to dwerder

[2014-06-05 09:50] #60 closed, assigned to dwerder

[2014-06-06 13:37] #48 closed, assigned to dwerder

[2014-06-06 13:37] #62 closed, assigned to dwerder

[2014-06-25 16:01] stack72 opened #65 "Enable Mod Headers"
We have the settings in hiera that include:

graphite::gr_web_cors_allow_from_all: true

On _every_ puppet run, we get the following

![screen shot 2014-06-25 at 15 46 50](https://cloud.githubusercontent.com/assets/227823/3387764/1579194a-fc81-11e3-9260-87402fe45b2f.png)

This seems to be due to the following

[code]

There is no unless command on the exec. Is this a known issue?

[2014-06-26 09:06] #65 closed, assigned to dwerder

[2014-06-26 10:30] stack72 opened #67 "Django-Tagging question"
Hi

When the module tries to run on my ubuntu 12.04 box, it tries to install django-tagging package but cannot find pip.

Should the module therefore require Python as a dependency in the Modulefile?

Paul

[2014-06-26 12:01] #67 closed, assigned to nobody

[2014-06-26 18:34] adrianlzt opened #68 "Problem with graphite and Django 1.6"
Django 1.6 fails with Graphite as reported in https://github.com/graphite-project/graphite-web/commit/fc3f018544c19b90cc63797d18970a4cc27ef2ad#diff-e383725a971fca0685db19bfe7c65b32

I have make a workaround in the node manifest:
[code]

[2014-06-26 20:43] bchae opened #69 "issues after going from 5.1.1 to 5.3.4"
We've had some issues after using 5.3.4 in our environment. It looks liek the local_settings.py file adds some additional brackets and a trailing comma. Also, which maybe a side effect, the graphite.db django file is not being created.

[2014-08-01 02:19] gregfenton opened #71 "Errors with gr_web_site => 'none'"
I'm on CentOS but suspect the same issue will occur with Debian or any system that does not have Apache installed.

I am trying a very basic use:

[code]

which causes:

[code]

I would expect that with 'none', no file permission changing should be attempted at all.  Am I missing something?  Or should a number of the commands in config.pp be wrapped in an `if( $web_server_package_require != '')` ?

[2014-08-06 12:52] senax opened #73 "CentOS 7 not supported"
$: facter operatingsystemrelease
7.0.1406

The regex looks for /^7.\d+$/

[2014-08-06 13:23] #73 closed, assigned to dwerder

[2014-08-06 13:24] #71 closed, assigned to dwerder

[2014-08-06 13:25] #69 closed, assigned to dwerder

[2014-08-21 09:16] #30 closed, assigned to dwerder

[2014-08-28 22:56] jhoblitt opened #75 "epel rename of django-tagging package?"
I got catalog failure in a test VM and it looks like EPEL may have changed the name of the `django-tagging` package:

[code]

[code]

[code]

[2014-09-02 18:22] stack72 opened #76 "Duplicate [ ] in the memcache hosts list"
In hiera, we specify the memcache hosts list as:

graphite::gr_memcache_hosts: "['10.70.6.9:11211', '10.70.6.177:11211', '10.70.6.129:11211', '10.70.7.207:11211', '10.70.7.175:11211', '10.70.7.161:11211']"

In the erb, this gets processed as:
MEMCACHE_HOSTS = ['<%= scope.lookupvar('graphite::gr_memcache_hosts').join("','") %>']

This then surrounds our list with extra [ ]

The issue here is that t

[2014-09-02 18:53] stack72 opened #77 "Switching from apache to nginx webserver kills our cluster"
We wanted to switch our cluster from apache to nginx as nginx runs wsgi faster than apache

When we changed the web_server from apache to nginx, we got a cluster failure. The switch in the web_server doesn't take into account that other processes may be bound to a port:

e.g.

https://github.com/echocat/puppet-graphite/blob/master/manifests/config.pp#L21

in this case statement, the apache2 config

[2014-09-08 18:58] neoice opened #78 "use upstream web server modules like puppetlabs/apache"
many modules are now depending on upstream httpd configuration modules instead of reinventing the wheel. this makes it easier to use multiple modules together and avoid duplicate package declarations. it would be nice to have here :)

I'm not sure what the "preferred" solution for ngnix is, but puppetlabs/apache seems to be dominating the ecosystem for apache management.

[2014-09-09 13:15] #76 closed, assigned to dwerder

[2014-09-09 18:29] nickwales opened #79 "Disable carbon cache"
If I want a relay tier without the cache daemons running is there a way to do this?

[2014-09-16 17:03] #75 closed, assigned to dwerder

[2014-10-03 16:13] cwneal opened #99 "Installation question please"
Hi Daniel,

Question for you.  I've installed your module twice now with no issues.  Once on a CentOS VM, once on CentOS in EC2, and most recently on a physical CentOS server.  The puppet install runs fine with no errors.  I have no custom variables assigned.  The problem is when I access the URL, all I get is a directory listing of "/".

There are no errors in /etc/httpd/error_log.

Neither of th

[2014-10-06 23:39] jarshwah opened #100 "Setup multiple carbon-caches with a relay"
I've been looking for a way to setup multiple carbon caches with a relay in front of them. I see that you can setup the relay to point to multiple destinations, but there doesn't appear to be a way to setup multiple caches on the one node.

[code]

Is this kind of setup possible to do with this module? I don't think it is, because you'd (probably) need to have an array of hashes for defining the c

[2014-10-07 09:16] #100 closed, assigned to dwerder

[2014-10-17 17:18] jlintz opened #101 "carbon-cache init script restart method"
When carbon-cache has a kill signal sent to it, it will spend some time trying to flush out any pending metrics to disk.  The current restart method in the init script has it just sleeping for 3 seconds, and then trying to start back up again, often resulting in the process just eventually dying, but then not starting back up.

It would be better to have the stop method wait for the pid file to di

[2014-10-17 18:37] #101 closed, assigned to dwerder

[2014-10-23 14:23] alens opened #103 "installation issue"
hi!

im trying to install it with puppet masterless

what is the right command to execute the install?
puppet apply -e "include graphite"
err: State got corrupted
err: State got corrupted

on centos 6.5 x64

[2014-10-24 23:50] #103 closed, assigned to nobody

[2014-10-31 15:15] everestx opened #104 "Adding upstream dependency of stankevich/puppet-python"
Hi echocat devs, I have a couple questions about your project.  I'm planning a pull request for our group so we can use your graphite module. However, We'd like to remove some of the dependencies on Epel by using python virtualenv and changing `manifests/install.pp` logic.

Would you be willing to accept a new puppet module dependency?
- currently the built in Pip provider for package doesn't supp

[2014-11-04 16:45] jojijohn opened #105 "multiple carbon-caches"
Is it possible to create multiple carbon-caches using this module?

[2014-11-04 17:44] #105 closed, assigned to dwerder

[2014-11-04 17:45] #79 closed, assigned to dwerder

[2014-11-04 17:45] #99 closed, assigned to dwerder

[2014-11-04 17:46] #54 closed, assigned to dwerder

[2014-11-06 01:52] camlow325 opened #106 "some centos 7 dependencies not found in EPEL"
In trying to install graphite on CentOS 7.0.1406, I found that a couple of the packages that the puppet-graphite module was looking for were not available via EPEL.  The packages were Django14 and python-sqlite2.  For Django, I found a python-django package.  I didn't find immediately anything which appeared to be comparable for sqlite2 on python.  Not sure if the functionality was absorbed into o

[2014-11-07 16:07] aamerik opened #107 "Puppet 3.7, RHEL 6.5: Error: No such file or directory - /opt/graphite/webapp/graphite/local_settings.py20141107-27378-dcxps8.lock"
Hi, I've added mysql backend config and get this error on agent run (puppet 3.7, rhel 6.5):

[code]

[2014-11-07 21:29] aamerik opened #108 "gcc package dependency Duplicate declaration: Package[gcc] is already declared in file"
Do you know if there is any way to override the inclusion of 'gcc' package?  I have another module that provides Package['gcc'] and it's causing the issue below:

[code]

[2014-11-07 23:02] #107 closed, assigned to dwerder

[2014-11-09 23:08] #108 closed, assigned to dwerder

[2014-11-17 18:52] huasome opened #111 "scope.lookupvar('graphite::gr_cluster_servers') != :undef breaks future parser with puppet 3.7.3"
Looks like doing this check:

<% if scope.lookupvar('graphite::gr_cluster_servers') -%>

works better per https://docs.puppetlabs.com/guides/templating.html#testing-for-undefined-variables .

[2014-11-25 22:42] jlintz opened #118 "New init scripts break Ubuntu compatability"
Looks like you are using some specific RH features of the new init scripts which unfortunately breaks compatibility with Ubuntu/Debian

Specifically sourcing `/etc/rc.d/init.d/functions` and the calls to `rh_status`

[2014-11-25 23:48] #118 closed, assigned to dwerder

[2014-12-01 14:18] #106 closed, assigned to dwerder

[2014-12-11 08:05] #77 closed, assigned to dwerder

[2014-12-15 03:01] #104 closed, assigned to dwerder

[2014-12-24 17:23] hwoodson opened #127 "Build breaks with librarian puppet"
Latest version breaks when you  build with librarian puppet(See error below)

/usr/lib/ruby/gems/1.8/gems/librarian-puppet-1.0.3/lib/librarian/puppet/source/forge/repo.rb:25:in `versions': undefined method`map' for nil:NilClass (NoMethodError)
    from /usr/lib/ruby/gems/1.8/gems/librarian-puppet-1.0.3/lib/librarian/puppet/source/forge/repo.rb:39:in `manifests'
    from /usr/lib/ruby/gems/1.8/gems

[2014-12-24 19:22] #127 closed, assigned to nobody

[2015-01-02 09:35] dwerder commented on #78
This brings me to the point, that I will just drop all that built-in Apache support and instead give an README example how to configure things with separate modules.

Like
[code]

[2015-02-09 10:25] gdhbashton opened #152 "gr_relay_rules doesn't seem to do anything"
Hullo,

I'm using current git `b49b55f` of the module on CentOS 7 and when I specify `gr_relay_rules` and do a Puppet run, nothing changes on disk:

[code]

I'd expect the `relay-rules.conf.erb` to fire and write a new `relay-rules.conf` in `/opt/graphite/conf` but nothing happens. All the other params I'm setting (e.g. `gr_relay_destinations`, `gr_carbonlink_hosts`) are being applied as expected.

[2015-02-09 10:49] dwerder commented on #152
This is pretty easy. You have to enable carbon relay funktion.
This is done via setting `gr_enable_carbon_relay` to `true`

[2015-02-09 10:49] #152 closed

[2015-02-09 13:08] gdhbashton commented on #152
It's always obvious after the event. Thanks :)

[2015-02-11 15:00] alvagante opened #153 "MIssing the possibility to provide custom templates for the managed files"
I need to provide custom templates for some of the module's managed files.
We can easily add parameters that allow users to provide their own templates (and, as default values have the currently used ones).
Rationale is better described here: http://www.example42.com/2014/10/29/reusability-features-every-module-should-have/

If you are interested in this I can prepare a PR.
My current alternative

[2015-02-11 15:47] dwerder commented on #153
Useful PRs are always ok. If it does not change the whole default behavior of the module.

[2015-02-11 15:58] dwerder commented on #153
Cool blog.

[2015-02-11 17:42] alvagante commented on #153
I looked at the code and the number of templates to "parametrize" is a bit more than I thought (18), adding parameters and documentation for each of them would take me some time that I have not right now. In the mean time I managed to achieve what I needed without modifying the module (this is my primary indication of the reusability of a module, so good work!), so I don't have such an urgency any

[2015-02-20 02:30] brettswift commented on #78
@dwerder  your last comment would work in my use case.   The difficulty I'm finding is getting up and running with graphite and grafana on the same server.  Both graphite and grafana have puppet modules but they don't work well together without a lot of intervention.

For this use case,  this module could configure an `apache::vhost`, and then external modules (grafana) could also use the `apache:

[2015-02-24 19:52] huasome opened #155 "Module attempts to install django-tagging on every run"
Looks like module version 5.10.0 attempts to install django-tagging on every run (and thus triggering a database schema import and refresh of carbon-cache).

[code]

This happens every run.

[2015-02-24 21:24] iverberk commented on #78
I agree with @brettswift , it would be really nice to install graphite and grafana (with your modules) on the same server without running into duplicate declaration issues. Current workaround is to disable apache config and just create the vhost manually elsewhere for grafana and graphite?

[2015-02-24 21:45] dwerder commented on #78
It works right now. You can take a look here:  https://github.com/echocat/puppet-grafana/issues/8

[2015-02-24 21:46] dwerder commented on #78
As mention in the ticket above, the next major version 6 will use the puppetlabs/apache module if you `use gr_web_server => 'apache'` and the default will become 'none'. So that you can provide your own webserver config.

[2015-02-24 21:49] dwerder commented on #155
Can you provide more information, please.
Which OS, puppet version, and your module configuration.

[2015-02-24 21:52] brettswift commented on #78
Thanks @dwerder - that's what I was looking for.   Github search-fu  was not good apparently.

It might be helpful to get that example vhost configuration into the README file.

Will the next major release let you inject a vhost name, and port, and encapsulate all the graphite specifics under the hood from the example in echocat/puppet-grafana#8 ?

[2015-02-24 22:05] huasome commented on #155
Ubuntu 14.04, puppet version 3.7.4. The module is all configured through hiera and I don't have any either gr_django_tagging_pkg or gr_django_tagging_ver configured. gr_pip_install is left as default.

[2015-02-24 22:38] erikrh commented on #155
I can confirm this as well. Ubuntu 14.04, Puppet 3.4.3, default module configuration.

[2015-02-24 23:04] dwerder commented on #78
Thats the plan

[2015-02-25 00:52] jarshwah commented on #155
Good timing (with the bug report) - I upgraded to 5.10 yesterday and I'm getting the same problem. I thought I'd done something wrong.

RedHat 6 - puppet 3.7.4

[2015-02-25 01:08] jarshwah opened #156 "Chowning the storage directory uses the wrong user and possibly the wrong directory"
I manage my own web server, and I'm using nginx/uwsgi to do it. The nginx user runs everything. This setup worked in version 5.5 of the module.

The chown is forcing the apache user to be the owner of the storage directory. The following block from `params.pp` isn't working as I'd expect:

[code]

https://github.com/echocat/puppet-graphite/blob/0c02ae9a5be24b96cdcff782dc6dd5f9ab9eb221/manifests/co

[2015-02-25 01:35] dwerder commented on #156
Ok, the relocated storage directory and the hardcoded chown could be a bug.

But as your yaml file describes it correctly, you should use `graphite::gr_web_group` and `graphite::gr_web_user` instead of changing things in params.pp

[2015-02-25 03:20] jarshwah commented on #156
Sorry, I am trying to use gr_web_user and gr_web_group. I believe I had to try to modify params::web_user for 5.5. Removing those two entries in hiera doesn't fix the problem.

2 of my hosts are using the correct "nginx" user to chown. 1 of my hosts is not (chowning as apache user), though, which is really strange. So the bug is intermittent.

Trying to debug hiera from the master shows that param

[2015-02-25 07:09] #156 closed

[2015-02-25 07:10] dwerder commented on #156
Thanks for this information. I have merged your fix.

[2015-02-25 09:54] mvisonneau commented on #155
Same for me on Ubuntu 14.04 since 5.10 :(

[2015-02-25 10:51] dwerder commented on #155
Ok, so we just skip Ubuntu support :-D
No, seriosly, i will take a look at it. So I just have Centos 6.6 machines running my graphites.

[2015-02-25 10:51] dwerder commented on #155
But if someone already has a solution or PR. Just let me know.

[2015-02-25 11:07] mvisonneau commented on #155
Hope this will help ! :)

[2015-02-25 11:36] #155 closed

[2015-02-25 11:44] dwerder commented on #155
@jarshwah  can you confirm that the fixed master works on your CentOS 6 ?
@erikrh @huasome can you confirm the fix on your Ubuntu systems?

Please use the updated master. If all works fine, I will upload a new release to the puppetforge

[2015-02-25 17:28] huasome commented on #155
Yep, that fixed the problem. I didn't test out the master branch but setting the hiera variables
[code]
fixed it.

[2015-03-05 19:58] dforste opened #162 "relay-rules.conf.erb is not idempotent intermittently causing restarts"
Ruby hashes do not have any order assoicated with them. As such the items within the relay rules need to be  sorted. This was mentioned in #137 but not carried through. I reccomend the following change.
[code]

[2015-03-05 20:35] #162 closed

[2015-03-16 02:01] TinajaLabs opened #163 "Graphite + Grafana"
I'm really new to puppet so this might be associated with #78 and #130.

I have success with the basic graphite setup like this:
[code]
But when I want to include grafana on the same host, and declare the apache class I get an error indicating that apche is referenced twice.
[code]

My goal is to make sure apache, graphite, and grafana are all running on the same host.  I use carbon/whisper for da

[2015-03-16 09:14] dwerder commented on #163
See README:

https://github.com/echocat/puppet-graphite#configure-graphite-with-grafana

[2015-03-17 07:36] TinajaLabs commented on #163
Yes.  Thanks.  I tried that approach.

First problem is that it fails to create the /opt/graphite directory:
[code]
Then the errors cascade from there.

As I mentioned before, the simple approach I posted above, seemed to work OK but I would like to add the grafana charts also.

If I manually create the /opt/graphite dir, it creates the webapp dir, but that is all.  After setting up some apache co

[2015-03-17 09:06] dwerder commented on #163
Ok. I see the problem.

Try that config:

[code]

The rest should be the same as in the example. Graphite has to be installed before the apache config, because it creates the /opt/graphite/ folders.

[2015-03-17 09:09] dwerder commented on #163
And the same for grafana. First install grafana and then the vhost.

grafana -> vhost(grafana)

[2015-03-17 16:47] TinajaLabs commented on #163
Cool.  That makes sense.  I'll give that a try a little later and let you know.

Thanks,
Chris.

[2015-03-17 16:49] TinajaLabs commented on #163
oops...  seems closer.

[code]

My new config:
[code]

Thanks,
Chris.

[2015-03-17 16:50] scottsuch commented on #163
This is the same issue I had months ago and just resigned to wait until 6.0 was released to spend more time.

[2015-03-17 17:33] dwerder commented on #163
Ok. One last try for today :D

Try:
[code]

[2015-03-18 00:43] scottsuch commented on #163
Still not working so well with the example changes.
Using my example repo [here](https://github.com/scottsuch/puppetized-grafana-example)
I swapped default.pp with this one. [default.pp](https://gist.github.com/scottsuch/4c229937fc3777411614)
Output - https://gist.github.com/scottsuch/4c229937fc3777411614

[2015-03-19 17:37] tomharvey commented on #68
Do we expect v6 to reach puppet release soon or should we patch v5.10.2 while waiting?

[2015-03-19 18:50] TinajaLabs commented on #163
Sorry for the tedium but I appreciate any help.

I have cleared all interaction on my puppet setup and still no joy.

What I have discovered is that somewhere when graphite is installing, it failes to create the directories in /opt.  If I manually create:
[code]
it goes pretty well but eventually fails because carbon-cache.py is not installed:
[code]
Interestingly, I see one file in ```/opt/graphi

[2015-03-20 06:21] dwerder commented on #68
Better patch v5. v6 has some new conecpts, but I want to migrate smoothly. So I prefer small patches for v5.

[2015-03-20 06:25] dwerder commented on #163
The installation is done in the file 'manifests/install.pp'. The configuration comes fro the 'manifests/config_*' files. And used parameter defaults are taken from 'manifests/params.pp'

I have not much time at the moment. So I have no time for debugging this right now.

[2015-03-20 07:31] TinajaLabs commented on #163
Thanks for the details. I appreciate your help and understand being busy.  I'll look at those sections.

Some more test and the results I put in a gist at:
https://gist.github.com/TinajaLabs/dc15218db80aa85d2a8c

This was tested on a beaglebone black with basic image of debian 7.8...

Perhaps something might be obvious to you when you get some time.

Thanks,
Chris.

[2015-03-23 06:23] TinajaLabs commented on #163
After all this hassle it seems there was a problem with graphite 0.9.12.  I switched like this and it went much more smoothly.
[code]
Now on to the little details like installing minimal java to run elasticsearch to save grafana dashboards.

Thanks for your help.

[2015-03-27 18:53] aamerik opened #166 "Package['gcc'] causes issues with many other modules that 'include gcc'"
Hi.  Thank you for this module.  Im trying to use it but keep running into issues due to https://github.com/echocat/puppet-graphite/blob/master/manifests/params.pp#L115 and other modules that try to 'include gcc' (puppetlabs-gcc).  Could you please help find a workaround and maybe consider including puppetlabs-gcc as a dependency instead of force installing gcc using the Package resource.

Thank y

[2015-03-27 19:40] dwerder commented on #166
A shortcut would be to just remove the gcc from the list and use the puppetlabs-gcc. But you are right. Maybe its better to use an official module.

[2015-03-27 21:24] everestx commented on #166
Even better would be to use the ensure_package() function from stdlib when installing packages. Requiring all these other puppet modules gets very hairy. The gcc module should use ensure_package() too.

[2015-03-31 07:15] dwerder commented on #166
@everestx
ensure_package() can be helpful, but at the end its just a wrapper/shorter for "if ! defined then" , which has its siteeffects too. Furthermore I am not the maintainer of the puppetlabs-gcc module. So I can not ensure that they use ensure_package()

@aamerik
The graphite module was designed as an stand-alone module at the beginning. And I am not sure if a want to start to use all that po

[2015-04-02 14:12] brettswift opened #167 "graphite only shows top bar"
I used to have this working, but now when I build a new server graphite only shows the top login bar, and the entire body of the page is white.

https://github.com/brettswift/puppet-sensu_suite/blob/38692f2a65ea54b249f78aa8d4797e5aea34521b/manifests/mygraphite.pp

That is my graphite configuraiton.   When I click the "dashboard" link on graphite, it gives me a "drop to merge" message, and nothing

[2015-04-07 13:35] brettswift opened #168 "graphite with default setup shows no graphs"
I have a vagrant box using this module with default configuration, with only one modification - enabling cors.

I have a feature branch that wraps sensu, and graphite, which can demonstrate this problem:

https://github.com/brettswift/puppet-sensu_suite/tree/feature/separate_graphite_grafana

My configuration:
[code]

And what I see:
![image](https://cloud.githubusercontent.com/assets/723989/70242

[2015-04-07 16:12] lreed commented on #167
I am also having this same issue.  I used the configs as per https://github.com/echocat/puppet-graphite#configure-graphite-with-grafana for the VHOST setups.

I tried to debug looking at Django options etc but was not able to figure it out.

Thanks

[2015-04-15 16:47] melan opened #171 "Install to FHS paths + other improvements"
I worked on the module to make it able to install graphite into non /opt/graphite location (that was a requirement). So many paths were moved into parameters.

Does it make any sense to create a pull request for the changes or nobody needs that?

Thanks

[2015-04-15 17:25] dwerder commented on #171
Send the PR.

[2015-04-23 10:06] JoepWeijers commented on #171
This enhancement would solve some of my problems as well, so please send the Pull Request!

[2015-04-27 19:36] dene14 opened #179 ""gr_pip_install" => "false" stil trying to set up GCC"
Module trying to set up GCC even if "gr_pip_install" has been set to "false". I guess there is no reason for that and it's just a bug...

[2015-04-27 19:41] dwerder commented on #179
Bug is such a hard word. Lets say it can be optimized.

[2015-04-27 21:33] dene14 opened #180 "Problems with pip install on CentOS 7"
According to puppet bugtracker: https://projects.puppetlabs.com/issues/15980
pip install doesn't works throwing a error:
Error: /Stage[main]/Graphite::Install/Package[django-tagging]/ensure: change from absent to 0.3.4 failed: Could not update: Could not locate the pip command.

NoPip install doesn't works here too... module contains hardcoded paths to /opt/graphite w/o any ability to override, wh

[2015-04-28 04:51] dwerder commented on #180
Man, incompatible? I am running this module on CentOS 6 and RHEL 6 boxes.

[2015-04-28 04:54] dwerder commented on #180
Renamed title to be more useful.

[2015-04-28 05:05] dwerder commented on #180
What version of puppet, facter and most importent, how does your module config looks like.

[2015-04-28 08:14] dene14 commented on #180
puppetmaster 3.7.4,
puppet agent 3.6.1 (from epel)

Config... It is really not important, coz I've checked graphite package's install paths (EPEL7), they currently incompatible.
Pip provider doesn't work due to puppet's bug :(
 I've tried many, finished with pip_install tries:
  "graphite::gr_pip_install"            : true,
  "graphite::gr_django_tagging_pkg"     : "python-django-tagging",
  "grap

[2015-04-28 10:00] dwerder commented on #180
My first hint is to not use the package. I am not the maintainer of the EPEL graphite package. If they do not use the default install paths, then it gets really tricky.

I have no CentOS 7 at hand, but I know that there are a lot of installation out there which work out of the box with that module.

At the moment I have no time to refactor the whole module to use other paths, then the default one.

[2015-04-28 10:03] dwerder commented on #180
And why do you use another djange package then the one, which is selected in the params.pp for RHEL7? And did you try to install 0.9.12 or something like 0.10.0?

[2015-04-28 11:29] dene14 commented on #180
I've tried a lot of combinations... The main problem is in config.pp
you've done a lot of work to make the manifest compatible with package install but all these efforts are defeated by path's hardcode in config.pp (/opt/graphite)

I bet there is no ability to install from package on many systems defined as compatible, coz normal packager will never package software delivered to /opt.

Install fro

[2015-04-28 11:41] dwerder commented on #180
Ok, your are using EPEL and talking about gcc and pypi to be a security issue?

I know that there are PIP installations out there. Even with CentOS 7. And there are solutions for that problem linked in the bug ticket mentioned above.

The problem with the hardcoded path is already discussed https://github.com/echocat/puppet-graphite/issues/171 . But I have no resources at hand to provide that at t

[2015-04-28 12:29] dene14 commented on #180
Daniel, I have absolutely no offence on you :) and I understand how open source works, so no estimation is okay with me. I've simply reported an issue.

If I will decide to proceed with that module I provide a PR

[2015-04-28 12:48] dwerder commented on #180
No problem. We do not use the RPMs, coz they simply do not exist years ago ;-D

[2015-05-17 17:01] dwerder commented on #168
I have now clue. Is this still a problem?

[2015-05-17 17:02] #163 closed

[2015-05-17 17:06] #111 closed

[2015-05-22 14:45] slloyd1994 commented on #180
Hi, just wanted say thanks for this great module. However when upgrading CentOS from 6.5 to 7, I am also getting this error:
Could not update: Could not locate the pip command.

[2015-05-27 14:02] greenaar opened #190 "Please support new bulk and prefetch options in .9.13, as well as remote render."
Could you add flags to turn on the new bulk response and prefetch options 0.9.13 supports?  Also, if you could expose the remote render options, that would help immensely.

[2015-05-27 14:37] dwerder commented on #190
You could sen dme a pull request with the flags/options you want. I do not use 0.9.13 at the moment. So I have no clue, what flags are new ;-)

[2015-05-27 21:05] greenaar commented on #190
I've sent you a pull request with that in mind, thanks!

[2015-05-28 01:19] #190 closed

[2015-05-28 04:23] dwerder commented on #190
requires #191

[2015-06-01 05:00] dspeele opened #193 "Internal Server Error - Ubuntu Trusty 64, nothing in error log"
Error:
[code]

There are no relevant errors in the Apache error log:

[code]

Manifest:

[code]

Puppetfile:

[code]

Vagrantfile:

[code]

Please help!

Dana

[2015-06-01 05:28] dspeele commented on #193
One more piece of info, the output from the provisioning:

[code]

[2015-06-01 07:18] dwerder commented on #193
I have no clue. The puppet logs looks fine. You can try to use the official puppetlabs-apache module instead of the build in mechanic of this module. You can find an how-to in the README.md. Maybe that works better.

[2015-06-01 10:37] dspeele commented on #193
Okay, thanks for the quick reply and the nice module. It's worked for me with other base boxes in the past. I'll post on whether or not the puppetlabs apache module fixes the issue. Cheers

[2015-06-03 12:35] JoepWeijers opened #195 "Default Apache webpage is not disabled on Debian 7.8"
1. Use this puppet module on a Debian 7.8
1. Point your browser to the machine
1. I expect to see the Graphite web interface
1. Instead, I see the default apache2 webpage

Cause:
*config_apache.pp* did not execute the step 'Disable default apache site', because the symlink to the default apache webpage in */etc/apache2/sites-enabled* is called *000-default*, instead of *000-default.conf*

The file

[2015-06-03 13:03] JoepWeijers commented on #195
Duplicate issue. Issue #196 contains the Pull Request with fix.

[2015-06-04 20:49] dspeele commented on #193
Ugh, ended up using a Docker container. Not sure what the problem was but thanks for the great open source work and the assistance with my issue.

Regards,

Dana

[2015-06-04 20:49] #193 closed

[2015-06-05 07:37] JoepWeijers commented on #195
Fixed by merging #196

[2015-06-05 07:37] #195 closed

[2015-06-05 12:56] #168 closed

[2015-06-14 13:07] decibelhertz commented on #166
With the large array of packages you have, I think `ensure_packages()` is the best choice; I use it a lot, but it does result in weird failure modes if one call to the function sets some parameters that the other does not.

As such, I suggest you omit extra arguments, as _puppetlabs-gcc_ does, and things would function fine.  If you're worried about edge cases, suggest you provide a user-controlla

[2015-06-15 13:06] dwerder commented on #166
Do you want to provide a PR?

[2015-06-26 04:35] jstangroome commented on #68
If my PR #202 is accepted, v5 will be able to support Graphite-Web 0.9.12 on Ubuntu Trusty via:

[code]

[2015-06-28 15:09] decibelhertz commented on #166
Sure.  Did that at https://github.com/echocat/puppet-graphite/pull/203

[2015-06-29 12:55] decibelhertz commented on #179
With recent work I did for https://github.com/echocat/puppet-graphite/issues/166, this issue is pretty easy to factor in.  See https://github.com/echocat/puppet-graphite/pull/204

[2015-06-29 14:00] dwerder commented on #179
Thanks and good work.

[2015-06-29 14:00] #179 closed

[2015-06-29 15:47] decibelhertz commented on #166
With https://github.com/echocat/puppet-graphite/pull/203 merged in, I think this issue is closed?  _puppetlabs-gcc_, at least for now uses `ensure_packages()` (see https://github.com/puppetlabs/puppetlabs-gcc/blob/master/manifests/init.pp#L17).  `ensure_packages()` will not conflict with other function calls that do not use the optional second argument, e.g. `ensure_packages('gcc')` (not `ensure_p

[2015-07-07 10:13] #166 closed

[2015-08-13 21:05] josephDunne opened #207 "graphite permission issues"
I am using this module to install graphiet on centos 6 (via vagrant) and I get the following HTTPd error:

[code]

The folder is owned by apache so I dont understand why permission is denied.

[2015-08-13 21:12] josephDunne commented on #207
is it because my vhost is wrong?

[code]

[2015-08-14 08:12] dwerder commented on #207
Can you send your complete puppet node config. The part with the graphite module config.

You did also change the order of the example. The vhost part has to be executed before the graphite part.
The permissions should be similar to that:
[code]

[2015-08-14 12:26] josephDunne commented on #207
I believe the vhost part is executed first thanks to `require => Class['graphite::install'],` I had to do it this way because of other issues I faced getting the example to work (cannot find /opt/graphite/webapp error).

Here is my deafult.pp:
[code]

my WSGI permissions look the same:

[code]

[2015-08-14 12:26] josephDunne commented on #207
I have the same problem with carbon 0.9.12 etc.
Puppet version 3.8.1

[2015-08-18 11:10] josephDunne commented on #207
This got me further:
[code]

but now i get:
[code]

[2015-08-18 11:20] josephDunne commented on #207
so to fix this I had to:

[code]

and

[code]

[2015-08-18 11:20] josephDunne commented on #207
Please close this ticket unless you want to see if its a bug in the puppet modules

[2015-08-18 13:31] dwerder commented on #207
Ah ok. So it seems to be a problem with permissions within SELinux. And you get no problems with the Graphite User, if you change the ownership of /opt/graphite to apache:apache?

[2015-08-18 14:05] josephDunne commented on #207
no issues with graphite.

[2015-08-18 14:06] josephDunne commented on #207
do you have a vagrant box which you know this module works on?

[2015-08-19 05:29] dwerder commented on #207
I don't use Vagrant.

[2015-08-19 05:37] dwerder commented on #207
A quick search shows up with that https://github.com/gddk/vagrant-cent65-64-puppet
Maybe its a help.

[2015-08-19 07:26] lord2800 commented on #171
@melan This would also solve some of my problems.

[2015-08-20 12:22] josephDunne commented on #207
I also had to setsebool -P httpd_can_network_connect on

[2015-08-20 12:22] #207 closed

[2015-09-01 13:10] dfxprima commented on #180
There is a bug filed upstream to fix the pip provider. It affects 6.7 and 7.x.  [PUP-3829](https://tickets.puppetlabs.com/browse/PUP-3829)

[2015-09-02 09:31] cataphract opened #209 "Change from `if !defined(Package[...]) { ... }` to `ensure_packages` is problematic"
Commit fa83afdb00a22214ec4b36757d34d4cc77ab0a34 changed of the installation of the `python-pip` package from:

[code]

to

[code]

This change is unfortunate, because `ensure_packages(['python-pip'])` is equivalent to `ensure_resource('package', 'python-pip', { ensure => present }`. Therefore, if `python-pip` was previously declared with any other parameters, you'll get a duplicate declaration err

[2015-09-02 10:21] dwerder commented on #209
I asume you are using a python module which does not use ensure_packages to manage your pathon installation. This is more a problem of the other module.

And your problem is on another line: https://github.com/echocat/puppet-graphite/blob/master/manifests/install.pp#L100

[code]

[2015-09-02 10:25] dwerder commented on #209
One "clean" solution could be, that we do not use trivial package installation in this moduel at all and instead include the "Approved" forge module https://forge.puppetlabs.com/stankevich/python/

That would mean that this python module will become a mandatory dependency.

[2015-09-02 10:28] cataphract commented on #209
Well, it's a problem of the other module (where I install a pip package for using postgresql) if your starting point is that the one true way of installing packages is with `ensure_packages` (but even then you have to be careful not to use any parameters other than `ensure => present`). Actually I would prefer that the module gave me the option not to install `python-pip` at all.

[2015-09-02 10:39] dwerder commented on #209
Ok, now we can start one of all this discussions how to handle trivial package installation in puppet ;-)

This module was first designed as stand alone. It installs a lot of packages. So we would need a option for gcc, python-pip, ldap, twisted, django, ... etc. If we want to do it right.

To be honest I prefer to use the approved module for python. So I have not to bother with that anymore.

As

[2015-09-02 10:45] cataphract commented on #209
But you can't clean `$::graphite::params::python_pip_pkg` via hiera because it's not a parameter of the params class, right? Other parameters seem to be overridable in the init class, but not this one.

[2015-09-02 10:47] dwerder commented on #209
You should overwrite it. The yaml file should look like that:

[code]

Oh and yes. For puppetlabs ensure_* IS the best practice way to install/create resources, thats because its in the stdlibs module.

[2015-09-02 13:00] vincentbernat commented on #127
I seem to run into the same problem. It would be convenient if the error message is more helpful. It could at least mention the module name.

[2015-09-02 13:07] dwerder commented on #127
Which version do you use? The metadata.json is fixed long ago. See #128

[2015-09-02 15:09] vincentbernat commented on #127
Sorry, I did not notice that I was not in the librarian puppet issue tracker. My problem is with another module (bfraser/grafana). So, totally unrelated to puppet-graphite.

[2015-09-18 04:19] cintiadr commented on #209
I'm seeing similar problem (I want the packages to be installed via pip, but another module https://github.com/counsyl/puppet-python.git is already installing it, so puppet is telling me it's a dup).

I was going to suggest an argument like 'do-not-install-pip'.

Overriding the value via hiera didn't work for me (puppet 3.8.2, hiera 1.3.4, Ubuntu 12.04)

[2015-09-30 09:47] madAndroid opened #211 "SystemD support"
Although CentOS7 has a compatibility layer for sysv init scripts, when the carbon daemons start up, and the ordering is such that `/bin/systemctl daemon-reload` has not been run yet, the startup of `carbon-*` issues fails, with a `no such file for directory` message. I've added an exec in our profile modules to deal with this, but this feels as though it's something that should be incorporated wit

[2015-09-30 10:01] dwerder commented on #211
Yep, systemd support is an issue. The best way would be to add systemd service files to the module to use native systemd. But I have no time for that at the moment.

[2015-09-30 10:57] madAndroid commented on #211
Yes indeed - for the moment we've got a workaround, so it's not crucial... if I find some time, I might look at adding unit files, depending on whether there are any examples floating around the Graphite community.

[2015-10-12 22:43] xyntrix opened #212 "Apache 2.4 fails to start on CentOS 7"
With a fairly basic configuration, Apache fails to start with "address already in use" due to the graphite_ports.conf symlinking back to the main apache ports config file.  To fix, just don't create this symlink.  Currently workaround, we just remove the symlink.

lrwxrwxrwx 1 root   root     21 Oct 12 15:14 graphite_ports.conf -> /etc/httpd/ports.conf
[code]

snip from basic config:

[code]

[2015-10-12 23:09] xyntrix commented on #212
Ahhh.  Looks like the file resource ignores gr_apache_port if it's an int vs a string:
[code]

I changed my manifest to:      gr_apache_port => '80' instead of     gr_apache_port => 80,
and now it's not creating the symlink file.   It might be good to test for both of these cases.

[2015-10-13 08:30] dwerder commented on #212
We should check if this is a integer. So a port should be an integer at all ;-)

[2015-10-20 10:11] dhardy92 commented on #209
to me pip installation on the system shouldn't be the responsibility of graphite module. and should be delegated. For example, on debian 7 wheezy, python-pip is totally outdated (1.1) a should be installed via get-pip.py python way.
So I enforce python-pip to be 'absent' on other place conflicting with graphite.

[2015-10-21 22:11] amosshapira commented on #209
To me installing software IS part of what I expect from a module - it should usually know best about which package to install for each OS and version and how to install it.

What I increasingly find in some modules are parameters to control what the modules does - install packages, create users, etc. Perhaps the same can be implemented here.

[2015-11-24 15:28] brettswift commented on #212
#217  doesn't fix this for me on CentOS 6.x.
If we're validating an integer, that conditional should also check for an integer.  When I run this on a clean server the ports still collide.

This might be the biggest pull request in history - but if you'd like it - I've removed the quotes. :) #219

[2015-11-26 15:08] dwerder commented on #212
Closed with PR #219 in version 5.15.0

[2015-11-26 15:08] #212 closed

[2015-12-03 19:17] dandunckelman opened #223 "SSL Apache module isn't enabled"
When wanting to use SSL with Apache, I think a change needs to be added to run `sudo a2enmod ssl`, otherwise, I get this error:
[code]

If I get around to it, then I'll make a PR.

[2015-12-03 20:03] dandunckelman commented on #223
My initial testing was w/ the latest module from the forge.  Getting the latest from here did not result in the aforementioned error.

[2015-12-03 20:03] #223 closed

[2015-12-04 06:07] dwerder commented on #223
This is strange, because the latest forge release and the master are identical.

[2015-12-06 18:35] brettswift opened #224 "InsecurePlatformWarning - puppet run fails first time on CentOS 6.6"
This is a minor issue, and I only get it on the first puppet run.  The second one completes.

If you want to reproduce this you can build a graphite vagrant box:
https://github.com/brettswift/puppet-sensu_suite (current latest commit is 9d3baa)
just run `vagrant up graphite`

I don't have experience with python but it seems like python 2.7.9 fixes this?  What is loaded on CentOS 6.6 is python 2.6.

[2015-12-16 09:44] pelacables opened #226 "carbon-* init scripts do not work when user is not root (SL 6.5)"
SL 6.5, carbon 0.9.12 from pip.

If you change the default user (root) to carbon the init scripts do not work.

[code]

I've tried with the init scripts from [carbon 0.9.12](https://pypi.python.org/packages/source/c/carbon/carbon-0.9.12.tar.gz#md5=66967d5a622fd29973838fcd10eb34f3) and it works:

[code]

Could you please cp the init scripts from the tgz?

Cheers,

[2015-12-18 18:35] erikanderson opened #227 "Package ensure not recognizing versions after 0.9.12"
We are having an issue where puppet is running the install of `carbon` and `graphite-web`. A typical run looks like this:

[code]

I can replicate it in the command line:
[code]

[2015-12-18 22:01] erikanderson commented on #227
This is a problem on our end. It looks like the `carbon` package was installed without `pip` at some point and it keeps on flip flopping between the dist-package and the pip installed one

[2015-12-18 22:01] #227 closed

[2015-12-21 13:06] dwerder commented on #226
You can send an PR

[2016-01-11 10:16] nokster1001 opened #233 "pytz isn't installed"
Hi,
graphite failed after installation with the following:
[code]
installing pytz solved it:
[code]
see: https://github.com/graphite-project/graphite-web/issues/1019
I think pytz should be added to the module, no?

[2016-01-11 11:53] dwerder commented on #233
Which OS do you use? And how do you use this module? Do you use it plain or with own python installation modules?

[2016-01-11 12:25] nokster1001 commented on #233
CentOS 7
and passing the relevant manifest part here:
[code]

[2016-01-11 20:33] dwerder commented on #233
Fixed by bdd7e2c

[2016-01-11 20:33] #233 closed

[2016-01-12 09:30] dwerder commented on #68
Fixed by #202

[2016-01-12 09:30] #68 closed

[2016-01-12 16:17] olavmrk opened #235 "Upgrade of carbon and graphite-web leaves pip confused about version"
After the default version of `carbon` & `graphite-web` was changed from 0.9.12 to 0.9.15 today, this module tried to upgrade these packages to 0.9.15 for every puppet run.

The reason for this is that after the successful install of the new version of the packages, `pip freeze` still shows the old version.

My guess is that the cause is the symlinks created during [installation](https://github.com

[2016-01-14 16:29] wershlak opened #236 "CentOS 7 - No package 'python-tzlocal'"
The puppet learning VM installs this module but it looks like version 5.16.0 fails with CentOS 7 due to a lack of a python-tzlocal package.

Error: Execution of '/bin/yum -d 0 -e 0 -y install python-tzlocal' returned 1: Error: Nothing to do
Error: /Stage[main]/Graphite::Install/Package[python-tzlocal]/ensure: change from purged to present failed: Execution of '/bin/yum -d 0 -e 0 -y install python-

[2016-01-14 18:46] dwerder commented on #236
I see that there was an issue at https://tickets.puppetlabs.com/browse/LEARNVM-280
But it is closed. So I assume that the version is set sticked to version 5.15.0

[2016-01-18 06:47] squarebracket commented on #236
The problem was that the learning VM was missing the EPEL repository, which is the only source for python-tz. The presence of the repository could be enforced by ensuring the [`epel-release` package](https://fedoraproject.org/wiki/EPEL#How_can_I_use_these_extra_packages.3F), if that's something you want to do.

[2016-01-18 10:02] dwerder commented on #236
README.md of this module recommends (see requierements) the use of the epel repo already.

[2016-01-18 20:48] nokster1001 commented on #233
thanks ! :)

[2016-01-22 09:17] JoshiiSinfield commented on #171
I've pretty much done the work for this, I just haven't tested it yet. I'll test and fix it asap and do a PR when I'm done.

Cheers,
Josh

https://github.com/CDLSoftware/puppet-graphite/tree/addSupportForFHSPathsAsParams

[2016-01-22 09:19] dwerder commented on #171
Open the PR against develop branch then, please. Thanks in advance.

[2016-01-22 09:28] JoshiiSinfield commented on #171
@dwerder Will do. Cheers.

[2016-01-29 11:42] #236 closed

[2016-01-29 11:46] #167 closed

[2016-02-08 13:31] madAndroid opened #243 "python-crypto obsoleted by python2-crypto"
Hi,

We're experiencing an issue when using this module under CentOS7: because `python-crypto` package has been replaced by `python2-crypto`, the package provider continuously attempts to 'reinstall' the package, and issues a carbon restart on each run as a result:
[code]

Package details:
[code]

[2016-02-08 13:47] dwerder commented on #243
Which repos do u use?

[2016-02-08 16:20] madAndroid commented on #243
We've got the base centos repos (including extras) and EPEL enabled .. looks like python2-crypto is coming from EPEL:
[code]

[2016-02-08 17:13] erikanderson opened #245 "[develop] Invalid relationship: Exec[fix graphite race condition]"
`Puppet 4.3.2, Puppetdb 3.2.3, Puppetserver 2.2.1`

I am testing out the `develop` branch and came across an error:

`
Error: Could not retrieve catalog from remote server: Error 400 on SERVER: Invalid relationship: Exec[fix graphite race condition] { require => Service[carbon-cache] }, because Service[carbon-cache] doesn't seem to be in the catalog
`

I'm going to take a look at it and possibly p

[2016-02-09 06:50] xyntrix opened #248 "Storage schema doesn't support xfilesfactor"
Will work on a PR for support of this, available in >= carbon 0.9.9

[2016-02-09 08:57] dwerder commented on #248
Cool. Please develop against the develop branch as described in the DEVELOP.md. Thanks.

[2016-02-09 18:57] dwerder commented on #243
Fixed by #247

[2016-02-09 18:57] #243 closed

[2016-02-19 05:55] jnjackins opened #250 "Apache gr_use_ssl fails on CentOS 6"
On CentOS 6, I get the following error when using `gr_use_ssl = true`:

[code]

It seems that this puppet module should depend on the `mod_ssl` package, at least on redhat-like systems.

[2016-02-19 06:01] jnjackins commented on #250
My naïve solution: https://github.com/jnjackins/puppet-graphite/commit/6a9b7d4fdebf767b66b0b12dc507b406ea7a3376

[2016-02-19 06:29] dwerder commented on #250
A better way , would be to use the official apache puppet module. How to do it is described here: https://github.com/echocat/puppet-graphite#configure-graphite-with-grafana

That's my recommendation.

[2016-02-19 06:34] dwerder commented on #250
Tha fact, that this module is managing things like apache and nginx itself is just historically and will be removed in some future.

[2016-03-03 14:43] gdhbashton commented on #211
@madAndroid Ha! Just bumped into this exact issue for another cust, fixed it in exactly the same way and THEN found this issue as I was about the file a bug :)

[2016-03-07 12:58] madAndroid commented on #211
@gdhbashton - I really wish that the Sys V compatibility layer was handled better by the puppet service provider - IMO, we shouldn't have to be adding random `exec`'s in to handle this - it really feels like the provider should take care of all of this for you. Apparently, the puppet devs don't think so -> https://tickets.puppetlabs.com/browse/PUP-3483

[2016-03-18 17:30] slivabox opened #254 "RHEL7/Centos7 common package python-crypto"
Looks like carbon-cache is restarted each puppet run.
This happens due to:

Example:

[2016-03-19 15:57] dwerder commented on #254
This is fixed in #247 , which is already merged into the `develop` branch.

[2016-03-19 15:57] #254 closed

[2016-03-29 13:33] stevie- opened #257 "forge api returns bad source"
If you use forge api to get source location
[code]
You get the following result:
[code]
"source" contains "git clone" instead of jsut the source location "https://github.com/echocat/puppet-graphite.git"

Our code will then try to clone
[code]
Please remove 'git clone' as we assume other modules use correct way of just using source url

[2016-03-29 13:59] #257 closed

[2016-03-30 21:03] dwerder commented on #245
Any news here?

[2016-03-30 21:13] #171 closed

[2016-03-30 22:21] dwerder commented on #248
Something new here?

[2016-03-31 21:35] squarebracket opened #259 "Invalid class parameters?"
These seem to be new parameters in `manifests/init.pp`:

[code]

I'm using puppet 3.8, and it doesn't work because it won't interpolate parameters within the same class (i.e. all the parameters that use `${gr_*}` don't interpolate that variable).

Is this something that works in Puppet 4?

[2016-03-31 22:17] dwerder commented on #259
As far as I know puppet should be able to interpolate paremeters since 2.7.
But this is a bad behavior and this parameters defaults should be set in params.pp

[2016-03-31 22:38] squarebracket commented on #259
I already coded that up, you want me to make a PR?

[2016-03-31 22:49] dwerder commented on #259
Sure

[2016-04-01 06:57] dwerder commented on #259
Possible fix in #261

[2016-04-01 12:03] dwerder commented on #259
I merged PR #262 into develop.
It fixes the parameter interpolation issue, without breaking it intention of changing all paths it `gr_base_dir` is set.

I also added a basic test for class config and fixed a lot of static dir path.
Can you try if it fixes the issue for you?

[2016-04-01 17:36] huasome opened #263 "Invalid relationship: Service[gunicorn] { subscribe => File[/opt/graphite/conf/local_settings.py] }"
https://github.com/echocat/puppet-graphite/blob/master/manifests/config_gunicorn.pp#L142
has `subscribe  => File["${graphite::gr_graphiteweb_conf_dir}/local_settings.py"],`

but looking at https://github.com/echocat/puppet-graphite/blob/master/manifests/config.pp#L80, if `gr_pip_install` is set, then local_settings_py_file is at `"${::graphite::gr_graphiteweb_install_lib_dir}/local_settings.py"` i

[2016-04-01 19:50] dwerder commented on #263
Take a look at the develop branch. Its already fixed there.

[2016-04-01 19:50] #263 closed

[2016-04-01 21:55] dwerder commented on #259
New release is on the forge.

[2016-04-01 21:55] #259 closed

[2016-04-08 13:42] slivabox opened #267 "carbon-cache enabled each puppet run"
I am not sure if it's a bug or misconfiguration in my setup.
However, I've got following notice each puppet run:
`Notice: /Stage[main]/Graphite::Config/Service[carbon-cache]/enable: enable changed 'false' to 'true'`

It's happens on:
`CentOS 7.2.1511`
`puppet -V 3.8.6`
`module version 6.0.1`
Could anybody point me out to cause/solution of this?

Kind regards,
Ievgen.

[2016-04-08 19:02] dwerder commented on #267
What does `systemctl status carbon-cache` says after a puppet run? Is the service enabled?
Maybe something is disabling it again.

[2016-04-09 00:19] greenaar opened #269 "Pid dir clobber"
On Ubuntu /var/run is a symlink to /run

Upgrading from an older version, /var/run is clobbered with a real dir on disk, causing items with pids to report as stopped.

This default pid dir should be somewhere else, or not defined by default.

[2016-04-10 21:52] jaxxstorm opened #270 "When selecting no webserver, web_user and web_group must be set"
Code looks like this:

[code]

It looks like this was copied from the wsgionly config, this should be empty

[2016-04-11 11:01] slivabox commented on #267
systemctl status carbon-cache:

systemctl is-enabled carbon-cache:

chkconfig --list |grep carbon-cache:

[2016-04-11 11:08] dwerder commented on #270
If you choose `none` you have to provide them. The intention is, that you will manage the webserver by yourself, so you would know what user and group that webserver will use.

[2016-04-11 11:15] dwerder commented on #269
You are right. The parameter `gr_pid_dir` is just used in one init template. And we do not need it there.

[2016-04-11 11:18] jaxxstorm commented on #270
In that case the error message probably needs updating?

[2016-04-11 12:55] #269 closed

[2016-04-11 16:58] squarebracket commented on #245
This one is my fault; when I made the fix for the race condition I didn't account for the gr_enable_carbon_cache setting. I've written a fix which involved a bit of reorganization of the code (moving the race condition fix from `config_*.pp` to `config.pp`), so I am doing a bit of local testing before I submit the PR.

[2016-04-13 21:55] solud opened #277 "gunicorn service and exec"
CentOS 7, Puppet 3.8, gr_web_server='wsgionly'
I've had to use the following changes to get this module to work. I'm not experiencing a race condition so removing the exec cleans up the puppet output. The Exec executes on every run and the wsgi.py doesn't seem to be needed.

https://github.com/echocat/puppet-graphite/compare/develop...solud:develop?expand=1

What does the race condition fix's scri

[2016-04-13 22:12] dwerder commented on #277
That PR introduced the race condition exec: https://github.com/echocat/puppet-graphite/pull/237

[2016-04-14 13:18] #270 closed

[2016-04-15 15:15] captnswing opened #278 "Duplicate declaration: Package[python-ldap] is already declared"
My company's base puppet module already installs python-ldap. Since ldap is by default disabled, it would be nice to only install python-ldap when `gr_use_ldap = true`

I tried to override `$common_os_pkgs` in my yaml, leaving out `python-ldap`

[code]

... but to no avail

[2016-04-15 15:19] captnswing opened #279 "manual steps needed on first apply"
when applying the vanilla `class { 'graphite': }` on my Ubuntu Trusty host for the first time, some directories are missing. I had to

[code]
also, the wsgi file referenced in `/etc/apache2/sites-enabled/graphite.conf`is wrong. I had to

[code]

to get things going

[2016-04-17 15:00] dwerder commented on #278
This does not work, because common_os_pkgs is used as a scope variable and not as a class parameter. Thats my gues.

Your solution would be a good one. Do you want to send a PR against develop branch?

[2016-04-17 15:12] dwerder commented on #279
We have two solution for that on the hand:

1. Set the correct apache log dir for teh different distro in teh params.pp
  - RedHat: /var/log/httpd/
  - Debian: /var/log/apache2/

2. Store the logs at the graphite storage: `$gr_graphitewb_log_dir` (default would be /opt/graphite/storage/log/ )

I would prefer the second one.

[2016-04-17 15:18] dwerder commented on #279
The `gr_graphite_web_storage_dir` = /var/lib/graphite-wb/  should be set to the default `$gr_storage_dir/graphite-web`

[2016-04-17 16:50] dwerder commented on #279
This two issues should be fixed in the develop branch.

[2016-04-17 16:50] #279 closed

[2016-04-18 21:41] captnswing commented on #278
I'm actually not sure how to do that.. my puppet-fu is quite limited :/

[2016-04-19 07:41] captnswing commented on #278
On a more principle level, if the user doesn't want ldap (`gr_use_ldap =false`), python-ldap shouldn't be installed either - no?

[2016-04-25 17:05] erikanderson commented on #245
@squarebracket @dwerder coming across this in the latest release 6.0.3 as well:
[code]

[2016-04-25 19:13] squarebracket commented on #277
I just submitted PR-281 which makes the race condition script only run on initial install.

The script fixes a [race condition that's present in the graphite 0.9.x branch](https://github.com/graphite-project/graphite-web/issues/403), which is the default branch used when installing via pip. That bug has been closed in the upstream graphite (v 10.0, not yet released), but no fix was backported.

Th

[2016-04-25 19:14] squarebracket commented on #277
#281 also fixes the other problems you describe.

[2016-04-25 19:35] squarebracket commented on #267
This is because of the explicit provider being `redhat` instead of `systemd`, so it uses the old-style initscript which doesn't have support for `systemctl enable`. This is fixed in #281 by making `service_provider` be `systemd` for RHEL7 and friends.

[2016-04-28 01:16] #277 closed

[2016-04-28 01:16] #267 closed

[2016-04-28 01:18] dwerder commented on #245
Maybe you want to try the develop branch, wich will be the next 6.1.0 release.

[2016-04-28 05:15] squarebracket commented on #245
Unfortunately the bug was not fixed in #281 , as there's still no way for handling the race condition fix without the `require => Service['carbon-cache']` bit. When I tried to remove it, I got a bunch of ordering issues -- services coming up prematurely and stuff. I need to take a more in-depth look at the ordering of things so that I can shuffle around the metaparameters a bit to be independent f

[2016-05-01 02:38] squarebracket commented on #245
Ok, pretty sure I've fixed the problem you're seeing in PR #282. If you want to try it out before the next module release, you can download https://github.com/echocat/puppet-graphite/pull/282.patch to your `/opt/graphite` and `git apply 282.patch`.

[2016-05-18 15:28] superjeb opened #287 "Cannot find comand pip"
When I run this on RHEL 6.5  it cannot find pip.

python-pip is installed   and path is correct.

Any idea?

[2016-05-19 05:18] captnswing commented on #278
wouldn't it be enough to do
[code]
in `params.pp` (and adapt the spec tests of course)?

[2016-05-19 06:45] dwerder commented on #278
That will not work, because params.pp is inherited and so it will be executed before the class, which inherits it. So $gr_use_ldap will properly not be set. A better way would be to get the "package code part" out of the params class. Because obviously that are no parameters, but definition, which should be done in the install class, where they are needed. And then your solution would work fine.

[2016-05-30 18:22] rickatnight11 opened #289 "Using Nginx as web server throws File[undef] error for Service[gunicorn]"
Using `dwerder-graphite v6.0.3` I have a simple manifest with:

[code]

...that fails to apply the catalog with:

[code]

[2016-05-31 06:35] dwerder commented on #289
Can you send more of the puppet log? Can you run the puppet in verbose? This could only happen, if the config.pp doesn't apply before the config_gunicorn.pp

[2016-05-31 06:38] dwerder commented on #289
Can you try the develop branch? There where some fixes for gunicorn included.

[2016-05-31 06:41] dwerder commented on #289
Just wait  a few minutes ;-) I will release version 6.0.4 ASAP

[2016-05-31 13:29] rickatnight11 commented on #289
Thanks!  This looks relevant:

https://github.com/echocat/puppet-graphite/commit/4ae73cc85cdbae5c7ba6407c5de4103ba00058fd#diff-f610cd45269ce3d0297cb21402d91588L146

:-)

[2016-06-01 06:19] BigAl commented on #287
Add this:

  file { '/usr/bin/pip-python':
    ensure  => 'link',
    target  => '/usr/bin/pip',
    require => Package["python-pip"]
  }

to you own code to workaround this issue is due to changing name of python-pip to pip in the packages there are a few issues raised with puupetlabs about this

[2016-06-01 22:26] rickatnight11 commented on #289
Confirmed fixed with 6.0.4 :-)  Thanks!

[2016-06-01 22:26] #289 closed

[2016-06-01 22:34] rickatnight11 opened #291 "gr_use_ssl not used by Nginx"
The `gr_use_ssl` parameter is only used by Apache:

[code]

[2016-06-01 23:19] dwerder commented on #291
Thats correct. I will fix the README.

[2016-06-13 15:05] squarebracket commented on #245
@erikanderson does 6.0.4 fix the issue you were seeing?

[2016-06-30 20:57] rlinehan commented on #224
I've been seeing a similar thing, except only occasionally, doing a `puppet apply`. Some of the time it works, some of the time I get an `InsecurePlatformWarning`. In my case, it seems like once I get that error, even if I run `puppet apply` again it doesn't go away.

What I'm specifically doing is:
[code]

after that I get

[code]

This is installing v 0.0.6 of `cprice404-grafanadash`, which has

[2016-07-05 11:43] 030 opened #293 "Issues when using example snippet (Configure Graphite with Grafana) on CentOS7"
1

[code]

2

[code]

[2016-07-05 11:49] #293 closed

[2016-07-05 11:56] 030 commented on #293
Thank you for fixing. Could you explain why `Error: Evaluation Error: Error while evaluating a Function Call, Having $gr_web_server => 'none' requires use of $gr_web_user and $gr_web_group to set correct file owner for your own webserver setup. at ../modules/graphite/manifests/config.pp:67:9 on node localhost` occurs?

[2016-07-05 12:35] dwerder commented on #293
<I think teh message is straight forward. You have to set the two parameteres. Because the graphite module has to set the correct file owner ships and doesn't know what user your webserver will requiere. I asume you are using Apache. So it will be www-data or apache, depending on the distribution you are using.

[2016-07-05 12:40] 030 commented on #293
Yes. I was assuming that that would have been included in the example snippet

[2016-07-05 12:47] dwerder commented on #293
How should the example know., what distribution or webserver you are using?

[2016-07-05 13:10] 030 commented on #293
Regarding the ```webserver``` it is apache as it is defined in the snippet

[2016-07-05 13:17] 030 opened #294 "The /opt/graphite dir does not seem to exist when using example snippet (Configure Graphite with Grafana) on CentOS7"
When this module is deployed on CentOS7 it seems that the following parent dir could not be created:

[code]

[2016-07-05 13:22] 030 commented on #294
as soon as the /opt/graphite dir was created the puppet run continued

[2016-07-05 13:26] 030 commented on #293
The apache user on centos7 seems to be apache as well

[2016-09-15 14:52] JeffAbrahamson opened #298 "ubuntu 16.04 not supported"
Looks like the version check doesn't like the current ubuntu LTS distro:

[code]

[2016-09-20 15:09] GhostLyrics commented on #298
Simply enabling the string 'xenial' in `params.pp` did not work for me. Even with just the complete default configuration `sudo puppet apply -e "class { 'graphite': }" --verbose` there were various errors installing. It seems like there are several directories that need to be `ensure`d but I don't understand why it is working on 14.04. (Maybe those are set implicitly by Puppet before and that beha

[2016-11-15 18:19] dwerder commented on #298
This looks like a permission problem with /opt/, but i have no debian at hand to investigate that.

[2016-11-15 19:17] dwerder commented on #298
Did you try to disable SELinux? Maybe that helps at the moment. You could also try the latest develop branch, because some SELinux permision stuff was added in #307

[2016-11-15 20:09] #291 closed

[2016-11-15 20:10] #294 closed

[2016-11-15 21:19] GhostLyrics commented on #298
- This is a fresh install done via vagrant. You do not need a complex setup to recreate that. (instructions at the bottom)
- The permissions on `/opt` are the defaults; (`drwxr-xr-x   3 root    root    4.0K Oct  1 23:10 opt`)
- There is no SELinux enabled on this machine.

After installing [vagrant](https://www.vagrantup.com/) (a great tool for working with throwaway VMs):

[code]

Will post separ

[2016-11-15 21:35] GhostLyrics commented on #298
Trying the dev branch I used these instructions in the VM:

[code]

That gives me about the same result:
[code]

[2016-11-16 12:00] dwerder commented on #298
The problem is, that the pip package graphite-web installs everything in /usr/local/ instead of /opt/graphite. I really don't why it is doing it so.

[2016-11-16 12:04] dwerder commented on #298
The content of the pip package seems to be fine:
[code]

But pip unter xenial seems to ignore the prefix

[2016-11-16 12:22] dwerder commented on #298
We encountered the following issue:
https://github.com/graphite-project/graphite-web/issues/1508

Solution:
For the time being please make sure to use --no-binary=:all: when installing 0.9.15 and pip >= 7.0.0.
:(

[2016-11-16 12:25] GhostLyrics commented on #298
Probably related to: https://github.com/pypa/pip/issues/2677

[2016-11-16 12:27] GhostLyrics commented on #298
Alright, let me try to ninja-edit that in there.

[2016-11-16 12:27] dwerder commented on #298
The solutionist to set:

gr_graphite_source       =>  https://github.com/graphite-project/graphite-web/tarball/0.9.15

[2016-11-16 12:28] GhostLyrics commented on #298
Huh. I think I would've preferred to give the `package` resource the install options you specified. I have not checked out the code for downloading. Isn't installing via package manager always preferred?

[2016-11-16 12:31] GhostLyrics commented on #298
like (note that I am just about to try this and have not yet verified):

[code]

[2016-11-16 13:00] dwerder commented on #298
So this works:
[code]

[2016-11-16 13:10] dwerder commented on #298
We could update the params.pp as a workaround to set this to be the default on xenial.

[2016-11-16 13:19] GhostLyrics commented on #298
I think this is the preferred URL scheme, with your existing variable.

[code]

Not sure about just making that the default for Xenial since I'd expect one will run into the same issue again later, when other platforms use a later `pip`. Unfortunately I couldn't make the param you got for `pip` to work (yet?), so what you suggest seems to be the best option so far.

[2016-11-16 13:22] dwerder commented on #298
You need to set the `gr_graphite_ver => present` the example above worked in the vagrant vm.

[2016-11-16 13:23] GhostLyrics commented on #298
Yes, thank you. I am aware of that. I was referring to

when I meant I could not make the parameter for `pip` work.

[2016-11-16 13:50] GhostLyrics commented on #298
So, this, posted earlier by @dwerder

[code]

does work somewhat but seems broken in the end. The binaries still don't end up where you want them to.

[code]

[2016-11-18 17:36] Ajedi32 commented on #298
Ah! Sorry I didn't notice earlier that there was ongoing discussion on this topic, I could have saved you some trouble.

I've been working on adding Xenial support for this module for a while now, and I sorta have it working.  Please try out #309 and let me know if it works for you.

[2016-11-20 23:00] dagobert opened #310 "Manually setting service_provider parameter"
From somewhere along 5.x you changed the parameter $service_provider in params.pp to automagically find out the "correct one". As for me using Debian 8.6 you opt for systemd as the appropriate provider. I am  still using "debian" which defaults to the old wheezy and prior.

It would be great if you could add the option to set the service provider manually. This way you could keep your good way of

[2016-11-21 07:17] dwerder commented on #310
Would you like to send an PR against develop branch?

[2016-11-21 16:39] rickatnight11 commented on #291
By closing this, are you not planning to fix it, or are you tracking this feature elsewhere?

[2016-11-21 18:43] dwerder commented on #291
I documented, that it doesn't work with nginx. At the moment I have no time to update the nginx template to use it. But it wouldnt be that hard. So if you want that feature and have time send a pull request against the develop branch.

[2016-11-21 19:29] rickatnight11 commented on #291
Cool, I was planning on looking into it, but wanted to confirm that you weren't tracking or working on it elsewhere.

[2016-11-22 22:07] dagobert commented on #310
I have created a pull request.

On a side note, isn't puppet checking the appropriate service provider (see https://docs.puppet.com/puppet/latest/reference/type.html#service-attribute-provider) meaning you do not need to implement it at all?!

[2016-11-23 06:59] dwerder commented on #310
The problem is/was that in "older" puppet version, the auto provider discovery wasn't the best. I don't know how it is at the moment. If it works well with >3.8.x, then we can remove our own detection.

[2016-11-23 07:05] dwerder commented on #310
These are the tickets that introduced our own discovery:
#249
#267

[2016-11-23 20:39] squarebracket commented on #310
The problem is that RedHat's gunicorn package doesn't provide an init script, so we have to set one via a template. It actually has nothing to do with the `service` resource. Relevant part of config is here: https://github.com/echocat/puppet-graphite/blob/master/manifests/config_gunicorn.pp#L38-L82

Since it's conditional logic and not just a call to `service`, the only way to ascertain the system

[2016-11-23 23:22] dagobert commented on #310
I see. I am not using puppet on other systems than Debian and Ubuntu. there at least I never found any problems with auto sensing the service provider. I just wanted to know :)

I guess sticking with the requirements at 3.8 should be preferred, since Debian stable it still at this version and it has a major install base.

[2016-11-23 23:46] squarebracket commented on #310
Sorry, perhaps I was unclear; this has nothing to do with auto sensing service providers. In puppet (all versions), there is no way to ask it what service provider it is using. So, if you need to have some conditional logic that relies on knowing the service provider (like this module does for picking a template), you have to hack in that functionality yourself. Which is why you'll see modules tha

[2016-11-23 23:47] squarebracket commented on #310
(The override for service provider is a good idea though, I was just commenting on the "auto-detection" part.)

[2016-12-17 00:50] law commented on #298
I am also getting bit by this problem.  I'm attempting the solution above, on the 'develop' branch, etc, but it is not working.  I can't quite figure out how to apply the "--no-binary=:all:" flags to the pip install either.

[2016-12-17 02:03] Ajedi32 commented on #298
@law Try my PR at #309. You should be able to pass `--no-binary=:all:` by setting the `install_options` parameter on the various Graphite/Carbon/Whisper packages in `manifests/install.pp`, but that will only work on Puppet >= 4.1.

Still haven't gotten around to finishing that PR yet, but I need Xenial support for a project I'm working on so I will have to get to it eventually.

[2017-03-08 20:38] pfeff opened #323 "Pull requests not validating because of linter"
The linter is failing the build on code that seems to have been around for a while.  Are you open to adjusting the lint rules so that the build passes?

[2017-03-10 10:05] gennady-voronkov opened #324 "graphite.erb wrong"
proxy_pass http://<%= scope.lookupvar('graphite::gunicorn_bind') %>:/;
instead of this, should be next line:
proxy_pass http://<%= scope.lookupvar('graphite::gunicorn_bind') %>;

[2017-03-15 18:01] law commented on #298
fantastic, thank you so much!

[2017-03-16 20:53] dwerder commented on #298
I close this. Everything else should be discussed in the PR #309

[2017-03-16 20:53] #298 closed

[2017-03-16 20:59] dwerder commented on #78
Should be done, but will not happen at the moment.

[2017-03-16 20:59] #78 closed

[2017-03-16 21:00] #153 closed

[2017-03-16 21:01] dwerder commented on #180
Fixed by puppet in https://tickets.puppetlabs.com/browse/PUP-4997

[2017-03-16 21:01] #180 closed

[2017-03-16 21:01] #209 closed

[2017-03-16 21:29] #211 closed

[2017-03-16 21:36] dwerder commented on #324
fixed in https://github.com/echocat/puppet-graphite/commit/914537594a5474cd9d9b7f86a7cb86af052909da

[2017-03-16 21:36] #324 closed

[2017-03-16 21:37] dwerder commented on #323
Sure.

[2017-03-16 21:38] #224 closed

[2017-03-16 21:38] #226 closed

[2017-03-16 21:39] dwerder commented on #235
Won,t fix. Until someone send a PR if this is still an issue.

[2017-03-16 21:39] #235 closed

[2017-03-16 21:40] dwerder commented on #245
No response. So it will be closed.

[2017-03-16 21:40] #245 closed

[2017-03-16 21:41] #248 closed

[2017-03-16 21:41] #250 closed

[2017-03-16 21:42] #278 closed

[2017-03-16 21:42] #287 closed

[2017-03-16 21:42] #310 closed

[2017-03-17 14:56] dwerder commented on #323
This seems to be fixed with release 7.0.0

[2017-03-17 14:56] #323 closed

[2017-03-19 18:25] gennady-voronkov commented on #324
great, thanks a lot

[2017-04-14 08:53] arymkus opened #329 "Carbon-cache can't be properly restarted/started if gr_storage_dir is specified"
That's a problem from carbon's config - PID_DIR said to inherit from STORAGE_DIR, but it doesn't.
The carbon's pid files are placed then into the default directory /opt/graphite/storage/ instead of one specified in gr_storage_dir module parameter.
The systemctl unit file is generated properly and expects pid files to be placed into gr_storage_dir, can't find them and kinda fails (carbon's are star

[2017-04-14 13:16] Ajedi32 commented on #329
FYI, rather than sending a patch file as an attachment, you might want to consider submitting a pull request instead: https://help.github.com/articles/fork-a-repo/#propose-changes-to-someone-elses-project

That way everyone can see and comment inline on the full diff in GitHub's web UI, the project maintainer can merge your changes by simply clicking a button (instead of having to manually apply y

[2017-05-25 11:54] dalesit opened #334 "Release 7.1.0 is not available on Forge"
Forge version is still 7.0.0

[2017-05-27 06:35] dwerder commented on #334
Done. :) Version 7.1.0 is available on the forge.

[2017-05-27 06:35] #334 closed

[2017-06-09 20:49] ChrisHirsch opened #335 "CentOS 7 looks for python2-pip instead of python-pip"
CentOS 7.3.1611 uses python2-pip instead of python-pip for installs

[2017-06-15 17:25] ChrisHirsch commented on #335
This issue should be closed now with https://github.com/echocat/puppet-graphite/pull/337

[2017-06-15 17:25] #335 closed

[2017-06-20 12:03] tpoindessous opened #338 "[Enhancement] Conditional creation of /opt/graphite"
Hi

I would like to suggest you to add a conditional test of `/opt/graphite` directory.

I try to use another puppet module to mount an additional disk in `/opt/graphite` , but I get an error as you also manage this directory.

If there was an option to tell your module that I take care of the creation and permissions of this directory, it would be great !

Thanks a lot for your work.

Thomas

[2017-06-20 13:10] tpoindessous opened #339 "Error : can't change default directory because of pip"
Hi

I try to change default directory for graphite via `gr_base_dir` parameter.

But pip installs packages in `/opt/graphite`. So I would like to use the new parameter :
[code]

but it won't work since only few packages (carbon, graphite-web) need this option.

Could you, please, provide a method to install (without pip ?) in a different directory than /opt/graphite/ ?

Thanks.

[2017-06-20 13:40] tpoindessous opened #340 "[Enhancement] make the installation of graphite-web optional"
Hi

we use your module and we would like to thank you for your work.

We use grafana, so we don't need graphite-web. Could you, please, make this "add-on" optional ?
It would make our installation simplier , no need for mysql for example.

Thanks in advance !

Thomas.

[2017-06-28 16:11] #338 closed

[2017-06-28 16:12] #329 closed

[2017-06-28 16:14] dwerder commented on #340
If you want that implemented, then you can create a PR. I have no time for that right now and I think it would be a bigger change. Tests have to be written and so on.

[2017-08-01 11:15] tpoindessous opened #342 "Can you release a new version in the forge, please ?"
Hi

few days ago, you have merged a PR in your develop branch.

If you are OK with that, could you, please, release a new version in the forge ?

I use your puppet module but I was forced to clone it in my own repo to be able to use it with the patch. I would really appreciate to switch back to an official module in the puppetforge.

Thanks for your time and your work.

[2017-08-24 13:40] bsmaldon commented on #235
This affected me too, seems as though pip can leave a directory `/opt/graphite/lib/carbon-0.9.12-p2.7.egg-info` laying around which then gets copied in by the exec resource in install.pp line 133
`      'carbon_hack' => {
        command => "ln -s \"${::graphite::base_dir_REAL}/lib/\"${carbon} \"${::graphite::params::libpath}/\""
}`
Patched the code to use `${::graphite::gr_carbon_ver}` which work

[2017-10-12 13:15] tpoindessous commented on #342
Hi

I saw this summer that you have begin to prepare release for 7.2.0

Could you, please, finish this release and publish it on puppet forge ?

Thanks !!!

[2017-10-16 11:02] dwerder commented on #342
Done!

[2017-10-16 11:02] #342 closed

[2017-10-16 18:49] tpoindessous commented on #342
Thanks !

Le lun. 16 oct. 2017 à 13:02, Daniel Werdermann <notifications@github.com>
a écrit :

[2017-10-28 13:17] johanek opened #349 "graphite-web not starting with graphite-web version 1.0.2"
I get the following error in graphite-web-error.log

[code]

It looks like graphite.metrics.search has been removed: https://github.com/graphite-project/graphite-web/commit/8187904ee03655390ab2561cea21d573a371d12b#diff-46c6eecf33ea420f578e510fc1a5a170

[2017-11-06 18:26] #349 closed

[2017-11-23 16:04] alexjfisher opened #352 "ImportError: No module named django.conf"
Hi

I've only just started trying out this module and have pretty quickly bumped into an error.  I'm using CentOS 7.4 with the simplest of manifests.
[code]

The catalog applies fine, (some permissions seem to get fixed up on the second puppet run), but when I try to access the web interface, I get a `500 Internal Server Error`.  The following is logged to `/var/log/httpd/graphite-web/graphite-web

[2017-11-24 12:16] alexjfisher commented on #352
I'm pretty sure the issue is not module specific, but because I have a system umask of '027' (not 022).
The installed python packages are only readable by root, not apache :(

I think this needs to be fixed in puppet...

[2018-01-12 15:18] DDSloan96 opened #355 "Carbon Flow Control Missing"
There is no parameter to set carbon cache flow control to false

[2018-01-31 17:32] mickaelvalmier opened #357 "[Release] Debian Stretch"
Hi,

Pull request #354 add support to Debian Stretch but is not yet released in Puppet Forge.

Can you bump a new version of this module ?

Thanks.

[2018-02-01 08:16] dwerder commented on #357
I will prepare release 7.3.0 this week

[2018-02-01 10:20] dwerder commented on #357
Release 7.3.0 on puppetforge.

[2018-02-01 10:20] #357 closed

[2018-02-01 11:01] dwerder commented on #355
Its an opensource project, so you can contribute missing parameters. See DEVELOP.md for more info.

[2018-02-01 11:01] #355 closed

[2018-02-06 19:04] jbehrends opened #360 "Fresh install fails on CentOS 7.4 using Graphite v1.1.1"
On a brand new machine:
CentOS 7.4
v7.3.0 of this module
v1.1.1 of graphite

[code]

It appears that "/opt/graphite/webapp/graphite/manage.py" no longer exists.

[2018-02-07 10:09] dwerder commented on #360
The modules defaults are set for Graphite 0.9.x at the moment. You have to made some adjustments to use it with Graphite 1.x.

I have no 1.x version running, so I cant help you at the moment. But if you have a working config please post it. So it can be used as default for the next major release.

[2018-02-07 18:39] jbehrends commented on #360
In my experiments yesterday I found there are a handful of changes in moving from 0.9.x to 1.x that are not really backwards compatible..  So unless we wanted to add lots of complex logic, the module would end up dropping support for 0.9.x and only support 1.x going forward.   Assuming that is the correct decision I could probably make some time to work on a PR in the next few weeks to start movin

[2018-02-07 20:13] dwerder commented on #360
That would be fine. The next major release should support 1.x

[2018-02-21 03:00] alexizmailov opened #361 "gr_graphiteweb_storage_dir breaks puppet"
OS: Centos 7.4
Puppet: v5.3.2
Graphite Module: v7.3.0

My class:
[code]
results in:
[code]
Any other path in that variable causes the same error.

After commenting that variable everything works fine.

[2018-03-15 20:58] KurtClearwater commented on #360
Also having issues upgrading from 0.9.x to 1.x via this module. We are seeing the same error and it would be amazing to be able to use this module to upgrade to the latest version of Graphite.

[2018-03-20 19:43] bplunkert commented on #360
We are seeing the error above, but we were able to work around it and successfully upgrade using the following:
[code]

[2018-03-20 21:18] KurtClearwater commented on #360
The above did not work for us (Ubuntu) and we still see the error listed in the main ticket on a new build or an upgrade.
[code]

[2018-03-26 14:41] Holundermann opened #362 "/opt/graphite not available - puppet run fails"
Hi!
When using the module to install puppet it fails during installation. It seems like that the module expects graphite to be located in /opt/graphite - but the python module is installed in /usr/local/lib/python2.7/dist-packages/opt/graphite.
Happens in Debian 9.4:

[2018-03-26 14:52] Holundermann commented on #362
Content of /opt/graphite:

[code]

find graphite:
[code]

Error Message:

[code]

[2018-03-27 16:38] fschaer commented on #360
Hi,

@KurtClearwater you apparently did not re-define `graphite::gr_django_init_command`

@bplunkert suggests using django 1.9, but it does not work for me and gives me python exceptions in my apache wsgi logs for graphite-web which would apparently require django-inspectdb :

`AttributeError: 'module' object has no attribute 'getmro'`

@bplunkert also disables initial graphite db creation, which

[2018-06-08 19:48] david-jana opened #365 "ensuring order for storage aggregation rules"
It looks like a hash map is used to configure the storage aggregation rules and sorted before creating the storage-aggregation.conf.  This means the alphabetical order of the aggregation rule names needs to match the order in which the rules should appear in the .conf file in order for the 'first matching rule is used' principle to work correctly.

By contrast, the storage schema rules are configu

[2018-06-19 13:18] mzhaase commented on #362
Having the same issue. This did not happen with version 7.2.0 of the package.

[2018-08-10 13:50] costimuraru commented on #365
👍
this bit us hard, because

[code]

got translated into
[code]

This means all the metrics used average as aggregation type (even the counts/max/min etc.).

[2018-08-13 07:38] dwerder commented on #365
Thnaks for sharing that information. You are free to send a PR.

[2018-12-22 23:20] dagobert commented on #362
I have the same issue on Debian Stretch.

I figured out the pip package `carbon` and pip package` graphite-web` are installed in folder

/usr/local/lib/python2.7/dist-packages/opt/graphite/

Notice that it seems that the install path is not set correctly. Sadly I have not figured out how to fix this in the module.

It would be great if the maintainer could help, since the module is really great an

[2019-03-22 12:17] dwerder commented on #362
Hello, I have to admit that I don't use puppet anymore. And have not much time to focus on the puppet module.

[2019-05-07 12:42] barnumbirr opened #381 "Gunicorn can't listen on TCP socket"
Hello,

because of how [gunicorn systemd services](https://github.com/echocat/puppet-graphite/tree/master/templates/etc/systemd) are setup, using a TCP socket in ```gunicorn_bind```breaks [gunicorn.socket.erb](https://github.com/echocat/puppet-graphite/blob/master/templates/etc/systemd/gunicorn.socket.erb#L5).

Cheers.

[2019-08-05 05:46] runemy opened #385 "Support Debian Buster"
I'm trying to install this on Debian Buster without success. Please add support for Debian Buster.

[2019-08-21 19:19] jakethedev commented on #385
I'd like to make some noise here too, I'm working at a software shop that is trying to finish moving some infra to puppet and 18.04 and we rely a lot on graphite, so this support would seriously improve our lives 😄

[2019-08-26 14:14] dwerder commented on #385
Hello guys,
to be honest I do not work with puppet anymore. (switched company and its ansible now) So I do not really maintain that module anymore. If you send pull requests against the develop branch I will see to merge them.

Or someone will fork that repo.

[2020-04-25 22:46] ffo opened #387 "Add support for graphite tags"
To use tags at least the following options must be set in carbon.conf:
- ENABLE_TAGS = True
- GRAPHITE_URL to the URL of graphite-web (e.g. http://127.0.0.1)

A boolean parameter _gr_tags_enable_  should be added to class graphite with a default vale of false. If set to true and is true and gr_carbon_ver > 1.1.0, the above options are set in carbon.conf. GRAPHITE_URL will be set to http://127.0.0.

[2020-05-21 18:41] ffo opened #391 "Acceptance Tests need update"
If I try to run the acceptance tests, they fail with the following message when installing puppet:

`Failure/Error: install_puppet
NameError:
  undefined local variable or method install_puppet for main:Object
  Did you mean?  install_package
`
According to the beaker documentation "install_puppet" is deprecated and the tests are currently based on ubuntu 12.04,which is a) end of live and b) does

[2020-05-21 19:55] ffo opened #393 "Installation of Graphite-Web with URL prefix"
Add a parameter gr_web_url_prefix to be able to deploy Graphite-Web with an URL prefix other than /. Default value should be '/'.
Setting a non-default value will:
- set the parameter URL_PREFIX in local_settings.py to the given value.
- modify the WSGIScriptAlias in the apache configuration
- extend the parameter GRAPHITE_URL in carbon.conf with the given URL

[2020-06-23 18:54] #393 closed

[2020-06-23 18:55] #391 closed

[2020-06-23 18:55] #387 closed

[2020-06-23 18:56] #385 closed

[2020-06-23 18:58] dwerder commented on #339
Years old and closed.

[2020-06-23 18:58] #339 closed

[2020-06-24 18:49] #352 closed

[2020-06-24 18:49] #340 closed

[2020-06-24 19:08] #360 closed

[2020-06-24 19:16] #361 closed

[2020-06-24 19:17] #362 closed

[2020-06-24 19:23] dwerder commented on #365
Changed just a few years later ;-)

[2020-06-24 19:23] #365 closed

[2020-06-26 07:49] meni2029 opened #398 "manage.py no more available from graphite-web 1.0.x"
Hello,

I have tried to upgrade puppet-graphite from 7.3.0 to commit: https://github.com/echocat/puppet-graphite/commit/64027542ddab9962640bcb2d52c8146048312523
It failed at `Exec[Initial django db creation]`

There are references to file **manage.py** in `manifests/config.pp` and `manifests/init.pp` , but **manage.py** is not anymore in graphite-web from version 1.0.x

Here are 2 issues related t

[2020-06-27 07:52] dwerder commented on #398
There is a solution to this. See the section "Install Graphite 1.1 and enable tag-support" in the README.md.
I will adjust the default for v8.0.1 to match the graphite 1.1 requirements.

[2020-06-27 07:52] #398 closed

[2020-06-29 08:42] meni2029 commented on #398
Hello Daniel, thanks for pointing to the solution 👍
I have it working now by setting `gr_django_init_command` and `gr_django_init_provider` (in my case django-admin.py is located under /usr/bin/).

[2020-08-19 17:01] cantebigene opened #400 "Potential vulnerabilities in Puppet files: Hard-coded Secret"
10 hard-coded secrets were found in 3 different scripts.

Script 1: https://github.com/echocat/puppet-graphite/blob/64027542ddab9962640bcb2d52c8146048312523/manifests/config.pp
 - Line [310](https://github.com/echocat/puppet-graphite/blob/64027542ddab9962640bcb2d52c8146048312523/manifests/config.pp#L310): `user=root`

Script 2: https://github.com/echocat/puppet-graphite/blob/64027542ddab9962640bcb

[2020-08-19 17:01] cantebigene opened #401 "Potential vulnerabilities in Puppet files: Suspicious Comment"
4 suspicious comments were found in 3 different scripts.

Script 1: https://github.com/echocat/puppet-graphite/blob/64027542ddab9962640bcb2d52c8146048312523/manifests/config_gunicorn.pp
 - Line [22](https://github.com/echocat/puppet-graphite/blob/64027542ddab9962640bcb2d52c8146048312523/manifests/config_gunicorn.pp#L22): `# todo: special cases for deb 8 and ubuntu 15.10`
 - Line [76](https://githu

[2020-08-19 17:01] cantebigene opened #402 "Potential vulnerabilities in Puppet file: Invalid IP address binding"
The following script seems to have 10 cases of invalid IP address binding: https://github.com/echocat/puppet-graphite/blob/64027542ddab9962640bcb2d52c8146048312523/manifests/init.pp

Line [574](https://github.com/echocat/puppet-graphite/blob/64027542ddab9962640bcb2d52c8146048312523/manifests/init.pp#L574): 0.0.0.0
Line [577](https://github.com/echocat/puppet-graphite/blob/64027542ddab9962640bcb2d5

[2020-08-19 17:01] cantebigene opened #403 "Potential vulnerabilities in Puppet file: Empty Password"
The following script seems to have 2 empty passwords: https://github.com/echocat/puppet-graphite/blob/64027542ddab9962640bcb2d52c8146048312523/manifests/init.pp

Line [650](https://github.com/echocat/puppet-graphite/blob/64027542ddab9962640bcb2d52c8146048312523/manifests/init.pp#L650): gr_django_db_password=
Line [726](https://github.com/echocat/puppet-graphite/blob/64027542ddab9962640bcb2d52c8146

[2021-01-19 15:09] wiad opened #404 "validate functions from stdlib are deprecated"
The validation functions from stdlib used in `init.pp` and `install.pp` (validate_string, validate_bool, validate_re, validate_integer) are deprecated and generates warnings in the puppetserver log.

The preferred way is to use Puppet Data Types.

[2021-01-25 18:36] steve--d opened #405 "https://github.com/echocat/puppet-graphite/releases/tag/v8.0.0"
v8 released to forge, but forge is still showing v7.3 as latest.

[2021-04-13 11:26] #381 closed

[2021-08-01 08:29] Wernervdmerwe opened #406 "Support for Ubuntu 20.4"
Is support for Ubuntu 20.4 (focal) on the road map by any chance?

[code]

[2021-11-26 20:40] dwerder commented on #405
I just released it :D Better late then never,

[2021-11-26 20:40] #405 closed